body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


.crd-1{
  display: flex;
  justify-content: space-between;
}

.hdr{
  display: flex;
  justify-content: space-between;
}

.card {
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
}

.btn-outline-primary {
  margin-left: 10px;
}

.mt-2 {
  margin-top: 10px;
}

.none-navbar{
  display: block;
}

.btn-hamburger{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.custom-bg-color {
  color: #FFF2F0;
}

@media (width <= 768px){
  .hdr{
    display: block;
  }
  .nns{
    display: none;
  }
}

@media (width >= 768px){

  .none-navbar{
    display: none;
  }

  }

